.container {
    background-color: #fff;
  }
  .first {
    /* position: relative; */
    height: 110vh;
  
    display: inline-block;
    width: 35%;
    overflow: hidden;
    margin-bottom: -0.438rem;
  }
  
  .image {
    height: 110vh;
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .img {
    width: 100%;
  }

  .image .img2{
    position: absolute;
    left: 15%;
    top: 10%;
    height: 0.938rem;
  }
  
  .logo {
    font-size: 29px;
    font-weight: 600;
    /* color: #fff; */
  }
  .image .logo {
    position: absolute;
    margin: 0 auto;
    top: 20%;
    z-index: 999;
    text-align: center;
    width: 100%;
  }
  
  .logo p {
    color: #fff;
    cursor: default;  
  }
  
  .second {
    height: 110vh;
    display: inline-block;
    width: 65%;
    overflow: hidden;
    margin-bottom: -0.438rem;
  }
  
  .details {
    margin: 10% auto;
    width: 60%;
    text-align: center;
    padding: 20px 0;
  }

  .googlebutton {
    margin: 20px 0;
  }
  
  .googlebutton > button {
    padding: 0.75rem 0;
    background-color: #fff;
    border-radius: 0.313rem;
    border: 1px solid black;
    width: 100%;
  }
  
  .googlebutton > button:hover {
    padding: 0.75rem 0;
    background-color: #000;
    border-radius: 0.313rem;
    border: 1px solid black;
    color: #fff;
    cursor: pointer;
  }
  
  .FaGoogle{
    display: inline-block;
    padding: 0 0.375rem 0 0;
    position: inherit;
    font-size: 11px;
  }

  .btn {
    font-size: 0.688rem;
    font-weight: 600;
  }
  
  .form {
    margin: 0 auto;
    width: 65%;
  }

  .success{
    font-size: 0.7rem;
  }

  .name {
    padding: 0 0.313rem;
    font-size: 0.625rem;
    font-weight: 600;
    text-align: left;
    display: block;
  }
  
  .email {
    padding: 0 0.313rem;
    font-size: 0.625rem;
    font-weight: 600;
    text-align: left;
    display: block;
  }
  
  .password {
    padding: 0 0.313rem;
    font-size: 0.625rem;
    font-weight: 600;
    text-align: left;
    display: block;
  }

  .confirmPassword {
    padding: 0 0.313rem;
    font-size: 0.625rem;
    font-weight: 600;
    text-align: left;
    display: block;
  }

  .inputName {
    height: 2.5rem;
    width: 97%;
    border-radius: 0.313rem;
    outline: none;
    padding-left: 0.5rem;
    border: 0.5px black solid;
  }

  .inputEmail {
    height: 2.5rem;
    width: 97%;
    border-radius: 0.313rem;
    outline: none;
    padding-left: 0.5rem;
    border: 0.5px black solid;
  }
  
  .inputPassword {
    height: 2.5rem;
    width: 97%;
    border-radius: 0.313rem;
    outline: none;
    padding-left: 0.5rem;
    border: 0.5px black solid;
  }

  .inputConfirmPassword {
    height: 2.5rem;
    width: 97%;
    border-radius: 0.313rem;
    outline: none;
    padding-left: 0.5rem;
    border: 0.5px black solid;
  }

  .section0 {
    margin: 0.313rem 0;
  }

  .section0 > .name > span{
    font-size: 0.6rem;
    color: red;
  }

  .section1 {
    margin: 0.313rem 0;
  }

  .section1 > .email> span{
    font-size: 0.6rem;
    color: red;
  }
  
  .section2 {
    margin: 0.313rem 0;
  }

  .section2 > .password > span{
    font-size: 0.6rem;
    color: red;
  }
  .section3 {
    margin: 0.313rem 0;
  }

  .section3 > .confirmPassword > span{
    font-size: 0.6rem;
    color: red;
  }
  
  .section4 {
    margin: 1.25rem 0;
  }

  .section4 > span{
    font-size: 0.6rem;
    color: red;
  }
  
  .section4 > button {
    background-color: #000;
    border-radius: 0.313rem;
    border: 1px solid black;
    color: #fff;
    width: 100%;
    cursor: pointer;
    height: 2.5rem;
  }
  
  .btn2 {
    font-size: 0.813rem;
    font-weight: 600;
  }
  
  .restaurant {
    position: absolute;
    top: 72%;
    right: 5%;
    height: 8.125rem;
    transform: rotate(-12deg);
  }
  
  .restaurant2 {
    position: absolute;
    top: 5%;
    right: 50%;
    height: 8.125rem;
    transform: rotate(40deg);
  }

  @media (min-width: 2000px) and (max-width: 3000px) {
    .form {
        width: 65%;
      }
      .section0 {
        margin: 1.25rem 0;
      }
    
      .section1 {
        margin: 1.25rem 0;
      }
      
      .section2 {
        margin: 1.25rem 0;
      }
      .section3 {
        margin: 1.25rem 0;
      }
      
      .section4 {
        margin: 1.25rem 0;
      }  
      .details {
        margin: 25% auto;
        width: 60%;
        text-align: center;
        padding: 1.25rem 0;
      }
      .name {
        padding: 0 5px;
        font-size: 1.25rem;
        font-weight: 600;
        text-align: left;
        display: block;
      }
      
      .email {
        padding: 0 0.313rem;
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        display: block;
      }
      
      .password {
        padding: 0 0.313rem;
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        display: block;
      }
    
      .confirmPassword {
        padding: 0 0.313rem;
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        display: block;
      }
    
      .inputName {
        font-size: 1.25rem;
        height: 3.75rem;
        width: 97%;
        border-radius: 0.313rem;
        outline: none;
        padding-left: 0.5rem;
        border: 0.5px black solid;
      }
    
      .inputEmail {
        font-size: 1.25rem;
        height: 3.75rem;
        width: 97%;
        border-radius: 0.313rem;
        outline: none;
        padding-left: 0.5rem;
        border: 0.5px black solid;
      }
      
      .inputPassword {
        font-size: 1.25rem;
        height: 3.75rem;
        width: 97%;
        border-radius: 0.313rem;
        outline: none;
        padding-left: 0.5rem;
        border: 0.5px black solid;
      }
    
      .inputConfirmPassword {
        font-size: 1.25rem;
        height: 3.75rem;
        width: 97%;
        border-radius: 0.313rem;
        outline: none;
        padding-left: 0.5rem;
        border: 0.5px black solid;
      }

      .section4 > button {
        background-color: #000;
        border-radius: 0.313rem;
        border: 1px solid black;
        color: #fff;
        width: 100%;
        cursor: pointer;
        height: 3.75rem;
      }
      
      .btn2 {
        font-size:0.813rem;
        font-weight: 600;
      }
    
  }

  @media (min-width: 1400px) and (max-width: 2000px) {
    .details {
        margin: 15% auto;
        width: 60%;
        text-align: center;
        padding: 1.25rem 0;
      }
  }

  @media (min-width: 960px) and (max-width: 1400px) {
    .details {
        margin: 15% auto;
        width: 60%;
      }

      .btn {
        font-size: 0.875rem;
        font-weight: 600;
      }
      .FaGoogle{
        display: inline-block;
        padding: 0 0.375rem 0 0;
        position: inherit;
        font-size: 0.625rem;
      }

      .form {
        width: 80%;
      }

      .inputName {
        font-size: 0.75rem;
      }
    
      .inputEmail {
        font-size: 0.75rem;
      }
      
      .inputPassword {
        font-size: 0.75rem;
      }
    
      .inputConfirmPassword {
        font-size: 0.75rem;
      }
      .restaurant {
        position: absolute;
        top: 85%;
        right: 4%;
        height: 5rem;
        transform: rotate(-12deg);
      }
      
      .restaurant2 {
        position: absolute;
        top: 12%;
        right: 54%;
        height: 5rem;
        transform: rotate(40deg);
      }
  }

  @media (min-width: 750px) and (max-width: 960px) {
    .details {
        margin: 20% auto;
        width: 75%;
      }
    
    .form {
        width: 90%;
      }

      .restaurant {
        top: 85%;
        right: 4%;
        height: 5rem;
      }
      
      .restaurant2 {
        top: 12%;
        right: 54%;
        height: 5rem;
      }
  }

  @media (min-width: 500px) and (max-width: 750px) {
    .googlebutton {
        margin: 0.563rem 0;
      }  
    .FaGoogle{
        font-size: 0.563rem;
      }
    
      .btn {
        font-size: 0.688rem;
      }
      .details {
        width: 85%;
        margin: 22% auto;
      }
      .restaurant {
        top: 85%;
        right: 4%;
        height: 3.75rem;
      }
      
      .restaurant2 {
        top: 10%;
        right: 54%;
        height: 3.75rem;
      }

      .logo {
        font-size: 1.25rem;
      }
      .inputName {
        font-size: 0.625rem;
      }
    
      .inputEmail {
        font-size: 0.625rem;
      }
      
      .inputPassword {
        font-size: 0.625rem;
      }
    
      .inputConfirmPassword {
        font-size: 0.625rem;
      }
  }

  @media (min-width: 350px) and (max-width: 500px) {
    .img {
      width: 100%;
      height: 30%;
    }
    .first {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      margin-bottom: -0.438rem;
      height: 20vh;
    }
    .image .img2{
      top: 20%;
    }
    .second {
      height: 85vh;
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }  
    .image {
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
    }  
  .img {
      width: 100%;
      height: 100%;
    }

    .details {
      margin: 12% auto;
      width: 80%;
      text-align: center;
    }

    .form {
      height: 75%;
      width: 80%;
    }
  
    .logo {
      font-size: 0.813rem;
    }

    .image .logo {
      top: 45%;
    }

    .googlebutton {
      margin: 0.313rem 0;
    }  
  
    .restaurant {
      top: 85%;
      right: 4%;
      height: 2.5rem;
    }
    
    .restaurant2 {
      top: 45%;
      right: 80%;
      height: 2.5rem;
    }
    .FaGoogle{
      font-size: 0.375rem;
    }
  
    .btn {
      width: 100%;  
      font-size: 0.5rem;
    }

    .h5{
      font-size: 0.688rem;
    }
    .inputName {
      font-size: 0.625rem;
      height: 1.25rem;
      width: 95%;
    }
  
    .inputEmail {
      font-size: 0.625rem;
      height: 1.25rem;
      width: 95%;
    }
    
    .inputPassword {
      font-size: 0.625rem;
      height: 1.25rem;
      width: 95%;
    }
  
    .inputConfirmPassword {
      font-size: 0.625rem;
      height: 1.25rem;
      width: 95%;
    }
    .googlebutton > button {
      padding: 0.438rem 0;
    }
    
    .googlebutton > button:hover {
      padding: 0.438rem 0;
    }
    
    .section0 {
      margin: 1.25rem 0;
    }
  
    .section1 {
      margin: 1.25rem 0;
    }
    
    .section2 {
      margin: 1.25rem 0;
    }
    .section3 {
      margin: 1.25rem 0;
    }
    
    .section4 {
      margin: 1.25rem 0;
    }  
  }

  @media (min-width: 280px) and (max-width: 350px) {

    .img {
        width: 100%;
        height: 30%;
      }

    .first {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        margin-bottom: -0.438rem;
        height: 20vh;
      }
      .image .img2{
        top: 20%;
      }
      .second {
        height: 80vh;
        display: inline-block;
        width: 100%;
        overflow: hidden;
      }  
      .image {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
      }  
    .img {
        width: 100%;
        height: 100%;
      }

      .image .logo {
        top: 45%;
      }

      .details {
        margin: 12% auto;
        width: 80%;
        text-align: center;
      }

      .form {
        height: 75%;
        width: 80%;
      }
    
    .logo {
        font-size: 0.813rem;
      }

      .googlebutton {
        margin: 0.313rem 0;
      }  
    
      .restaurant {
        top: 85%;
        right: 4%;
        height: 2.5rem;
      }
      
      .restaurant2 {
        top: 45%;
        right: 80%;
        height: 2.5rem;
      }
      .FaGoogle{
        font-size: 0.375rem;
      }
    
      .btn {
        width: 100%;  
        font-size: 0.5rem;
      }

      .h5{
        font-size: 0.688rem;
      }
      .inputName {
        font-size: 0.625rem;
        height: 1.25rem;
        width: 95%;
      }
    
      .inputEmail {
        font-size: 0.625rem;
        height: 1.25rem;
        width: 95%;
      }
      
      .inputPassword {
        font-size: 0.625rem;
        height: 1.25rem;
        width: 95%;
      }
    
      .inputConfirmPassword {
        font-size: 0.625rem;
        height: 1.25rem;
        width: 95%;
      }
      .googlebutton > button {
        padding: 0.438rem 0;
      }
      
      .googlebutton > button:hover {
        padding: 0.438rem 0;
      }
      
      .section0 {
        margin: 1rem 0;
      }
    
      .section1 {
        margin: 1rem 0;
      }
      
      .section2 {
        margin: 1rem 0;
      }
      .section3 {
        margin: 1rem 0;
      }
      
      .section4 {
        margin: 1rem 0;
      }  
  }